<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label [text]="product.name" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right" (tap)="onEditButtonTap()">
        <Label text="Edit"></Label>
    </ActionItem>
</ActionBar>

<!-- <GridLayout columns="*,*,*" rows="*,*,*,*,*" sdkExampleTitle sdkToggleNavButton>
    <Button text="1" style="background-color: #0099CC; margin: 5;"></Button>
    <Label [text]="product.name" row="0" col="1" colSpan="2" style="background-color: #FFFF66; margin: 5;"></Label>
    <TextView [text]="product.description" row="4" col="1" colSpan="2" style="background-color: #AA0078; margin: 5;"></TextView>
    <Label [text]="product.category" row="1" col="1" colSpan="3" style="background-color: #8C489F; margin: 5;"></Label>
    <Label [text]="product.price" row="2" col="1" colSpan="3" style="background-color: #CCFFFF; margin: 5;"></Label>
    <Label [text]="product.name" row="3" col="1" colSpan="3" style="background-color: #0099CC; margin: 5;"></Label>
</GridLayout> -->

<GridLayout>
    <ScrollView>
        <GridLayout rows="auto, auto, auto">
            <Image [src]="product.imageUrl" stretch="aspectFill" height="200" class="m-b-15"></Image>

            <StackLayout row="1" class="hr m-y-15"></StackLayout>

            <GridLayout row="2" rows="*,*,*,*,*,*" columns="auto, *">

                <Label text="Price" row="0" class="p-l-15 p-b-10 m-r-20"></Label>
                <Label col="1" class="p-b-10">
                        <FormattedString>
                            <Span text="ARS$ "></Span>
                            <Span [text]="product.price"></Span>
                        </FormattedString>
                    </Label>

                <Label text="Categoría" class="p-l-15 p-b-10 m-r-20" row="1"></Label>
                <Label [text]="product.category" row="1" col="1" class="p-b-10"></Label>

                <Label text="Descripción" row="2" class="p-l-15 p-b-10 m-r-20"></Label>
                <TextView [text]="product.description" row="2" col="1"></TextView>

                <!-- <Label text="Seats" class="p-l-15 p-b-10 m-r-20" row="3"></Label>
                    <Label [text]="car.seats" row="3" col="1" class="p-b-10"></Label>

                    <Label text="Transmission" class="p-l-15 m-r-20 p-b-10" row="4"></Label>
                    <Label [text]="car.transmission" row="4" col="1" class="p-b-10"></Label>

                    <Label text="Luggage" class="p-l-15 p-b-10 m-r-20" row="5"></Label>
                    <Label [text]="car.luggage" row="5" col="1" class="p-b-10"></Label> -->
            </GridLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>